@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.nav, .footer {
  background-color: rgb(56, 56, 56);
  color: white;
  height: 45px;
}

.nav, .footer, .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
}
