.card {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border: 2px solid #e0e0e0;
  line-height: 1;
}

.card-header, .card-title, .list-group-item {
  padding: 0 20px;
}

.card-header {
  background: #eeeeee;
  border-bottom: 1px solid #bdbdbd;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
}

.list-group {
  list-style: none;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #bdbdbd;
}

.list-group-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 40px;
}
